
.progress-bar {
    box-sizing: border-box;
    border: 5px solid #000;
    height: 40px;
   
}
.progress-bar::-webkit-progress-bar {
    background-color: #ccc;
    width: 100%;
  }
  
  progress::-webkit-progress-value {
    background-color: #4F5D75 !important;
    -webkit-transition: all .7s;
    transition: all .7s;}
  
progress::-webkit-progress-value {
    background-color: #4F5D75 !important;
    -webkit-transition: all .7s;
    transition: all .7s;
  }

.progress-bar::-moz-progress-value {
    background-color:#4F5D75;
}

