.skill-tec{
    display: flex;
    font-family: 'Press Start 2P', sans-serif;
    color: #fff;
    font-size: 25px;
     justify-content: center;
}

.skill-tec .icon{
    margin-right: 25px;
}